@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* custom properties */
:root {
    --color-white: hsl(0, 0%, 100%);

    --color-stone100: hsl(30, 54%, 90%);
    --color-stone150: hsl(30, 18%, 87%);
    --color-stone600: hsl(30, 10%, 34%);
    --color-stone900: hsl(24, 5%, 18%);

    --color-brown: hsl(14, 45%, 36%);

    --color-rose800: hsl(332, 51%, 32%);
    --color-rose50: hsl(330, 100%, 98%);

    --font-size: 16px;

    --font-family-youngSerif: 'Young Serif', sans-serif;
    --font-family-outfit: 'Outfit', sans-serif;
}